.header-schedule{
    background: rgb(159,195,249);
    background: linear-gradient(180deg, rgba(159,195,249,1) 0%, rgba(131,219,224,1) 100%);
    border-radius: 15px;
    padding: 10px 0;
    width: 90%;
    margin: 25px auto;
}

@media screen and (max-width: 600px){
    .header-schedule{
        margin-top: -5px;
        width: 400px;
    }
}

.header-schedule a{
    font-size: 20px;
}

.header-schedule span{
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.card{
    background-color: #EDF1F7;
}
.card img{
    margin: 0 auto;
    width: 300px;
}

.card-title{
    color: #4D5569;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.card-body p{
    font-family: 'Noto Sans', sans-serif;
    margin-top: -8px;
    font-size: 12px;
    color: #4D5569;
}
.card .card-action{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 10px;
}

.card-action button,
.card i{
    font-size: 18px;
    color: #4D5569;
}

.btn-add{
    position: fixed;
    bottom: 50px;
    right: 75px;
    z-index: 99;
}
.btn-add img{
    width: 20px;
    height: 20px;
}

.btn-add a{
    width: 40px;
    height: 40px;
    background: rgb(159,195,249);
    background: linear-gradient(180deg, rgba(159,195,249,1) 0%, rgba(131,219,224,1) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    .btn-add {
        z-index: 1;
        margin-top: -520px;
        position: fixed;
        right: 0;
        margin-right: 40px;
    }
}

form .img-preview input{
    display: none;
 }
 
 form label{
     font-family: 'Noto Sans', sans-serif;
     font-weight: 600;
     margin-bottom: 8px;
 }
 
 form textarea{
     resize: none;
 }

 .image-wrapper{
    height: 25vh;
    width: 100%;
    /* border: 1px solid red; */
    background: rgb(159,195,249);
    background: linear-gradient(76deg, rgba(159,195,249,1) 0%, rgba(131,219,224,1) 100%);
    padding: 10px;
    /* border: 1px solid #eee; */
    border-radius: 5px;
}

.img-preview{
    /* padding: 10px; */
    height: 25vh;
    /* height: 25vh;
    width: 100%; */
    /* border: 1px solid yellow; */
    margin-top: -10px;
    /* text-align: center; */
}

 form .label-image{
     padding: 7px 22px;
     background-color: #69AFB3;
     border-radius: 25px ;
     color: #4D5569;
     float: right;
     margin-top: 100px;
 }
 
 form .btn-post{
     background: rgb(159,195,249);
     background: linear-gradient(180deg, rgba(159,195,249,1) 0%, rgba(131,219,224,1) 100%);
     color: white !important;
     font-family: 'Noto Sans', sans-serif !important;
     font-weight: 600 !important;
     font-size: 16px;
 }

#content-jadwal form input[type="text"],
#content-jadwal form textarea{
    background-color: #EDF1F7;
    border: none;
}




/* ======================================== Jadwal kelas ============================*/
/* #jadwal_kelas{
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow-x: hidden;
} */

#jadwal_kelas .card{
    -webkit-box-shadow: 0px 0px 17px 2px rgba(211,229,244,1);
    -moz-box-shadow: 0px 0px 17px 2px rgba(211,229,244,1);
    box-shadow: 0px 0px 17px 2px rgba(211,229,244,1);
}

#jadwal_kelas .card:hover{
    transform: scale(1.02);
    transition: all 300ms;
}

#jadwal_kelas .card img{
    margin: 0 auto;
    width: 200px;
}

#jadwal_kelas .card-title{
    font-family: 'Rubik', sans-serif;
}

#jadwal_kelas .card-description{
    margin-top: -20px;
}

#jadwal_kelas .card-description i{
    color: #9FC3F9;
}
#jadwal_kelas .card-description span{
    color: #4D5569;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

#jadwal_kelas .row h6{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#jadwal_kelas .btn-kelas{
    cursor: pointer;
}

#jadwal_kelas .card-kelas{
    -webkit-box-shadow: 0px 5px 16px -2px rgba(230,223,223,1);
    -moz-box-shadow: 0px 5px 16px -2px rgba(230,223,223,1);
    box-shadow: 0px 5px 16px -2px rgba(230,223,223,1);
    border-radius: 15px;
}
#jadwal_kelas .card-kelas a span{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
} 
/* ======================================== End Jadwal kelas ============================*/ 